.container{
    margin-top: 5%;
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.content{
   
    width: 80%;

}

.content h1{
    margin-top: 30px;

}

.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-top: 3%;
}

.details p{
    font-size: 1.3rem;
}
.details h1{
    font-weight: 100;
}
.details h2{
    font-weight: 600;
    margin-top: 4px;
   
}


.details p:nth-child(2n) {
    text-align: right;
  }

  .details h2:nth-child(2n) {
    text-align: right;
  }

  .sendButton{
    
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: 30px;
  }