.cartProductContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all 0.3s ease-in-out;
    gap: 1.5rem;
}

.cartProductContainer:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.cartProductImg img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.cartProductDetail {
    flex: 1; /* kitölti a középső helyet */
}

.cartProductDetail h1 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}
.cartProductDetail h2{
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.cartProductOverall {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: right;
    min-width: 100px;
}

.deleteButton{
    cursor: pointer;
    font-size: 1.75rem;
    margin-top: 8px;
    margin-left: 1rem;
    color: #c81e1e;
    transition: color 0.2s ease-in-out;
}

.deleteButton:hover {
    color: #e60000;
}