.container{
    
    
}

.formCont{
    background-color: aqua;
    padding: 10% 33%;
}
.formCont h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.3rem;
}

.formCont p{
    font-size: 1.3rem;
}
.formCont input{
    width: 100%;
    padding: 10px;
}

.loginLinks{
    text-align: center;
    font-size: small;
    display: block;
}

.logbutton{
    text-align: center;
    
   

}