.container{
        margin-top: -5%;
    
}

.formCont{
    background-color: rgb(255, 255, 255);
    padding: 10% 33%;
}
.formCont h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.3rem;
}

.formCont p{
    font-size: 1.3rem;
    margin-bottom: 5px;
}


.loginLinks{
    text-align: center;
    font-size: 1rem;
    display: block;
    margin-top: 10px;
    color: #222f;
    
}

.formCont input,
.formCont button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}
.logbutton{
    margin-top: 15px;
}

.formCont input{
    margin-bottom: 20px;
}
