.oneProductContainer{
    display: flex;
    
    justify-content: center;
     
}
.ProductButtons{
    display: flex;
    justify-content: center;

}
.oneProductContainer h3
{
   margin-bottom: 5%;
  
}
.oneProductContainer h2{
    margin-bottom: 10%;

}
.productDetails{
    padding: 0 120px 0 120px;
    text-align: center;
}
.isOnStock{
    margin-bottom:10%;

}