.sliderHomeContainer{
   width: 40%;
   height: 30vh;
   margin: 0 auto;
   margin-bottom: 5%;
}

.productItems{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 5%;
}