.searchAndProductsContainer {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0 5%;
    padding: 20px 0;
}

.sideSearchContainer{
    box-sizing: border-box;
    width: 100%;
}

.productListContainer {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    .searchAndProductsContainer {
        grid-template-columns: 1fr;
    }
}

.filtersDivided{
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

}