.searchAndProductsContainer{
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 20px;
    align-items: stretch;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}

.sideSearchContainer{
    box-sizing: border-box;
    width: 100%;
}

.productListContainer{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
}