.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.productDetailContainer {
    width: 100%;
}

.description {
    width: 100%;
    margin-top: 2rem; /* Add some space above the tabs */
}

/* On larger screens, you might want to limit the width of the description/tabs */
@media (min-width: 992px) {
    .description {
        /* Optional: If you don't want the tabs to be full-width */
        /* max-width: 80%; 
        margin-left: auto;
        margin-right: auto; */
    }
}

