.productDetailContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    padding: 5% 0% 5% 0%;
}
.container {
    display: flex;
    flex-direction: column; /* <--- EZ A LÉNYEG */
    align-items: center;    /* középre hozza a gyerekeket vízszintesen */
    width: 100%;
} 

.description{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ccc;
}

