.productDetailContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10%;
    background-color: rgb(237, 237, 237);
    width: 80%;
    padding: 5% 0% 5% 0%;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}   